@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500;600;700;800&display=swap');
@import url('./customColors.css');
@import url('./all.min.css');

*:not(i), h1, h2, h3, h4, h5, h6{
    font-family: 'Changa', sans-serif !important;
}
body{
    background-color: var(--system-bg) !important;
}
.small-container{
    margin-left: 30px;
    margin-right: 30px;
    display: block;
}




.col-md-12.no-print.bottonNav {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 60px;
    bottom: 24px;
    z-index: 1000;
    transition: 0.4s bottom;
}
.pos-form-actions {
    padding: 12px 28px;
    left: 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.55);
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    /* width: calc(100% - 60px); */
    padding: 10px !important;
}
.col-md-12.no-print.bottonNav:hover{
    bottom: 28px;
} 
.pos-total span.number {
    font-size: 24px;
    vertical-align: middle;
    font-weight: 500;
}
.pos-total span.text {
    font-weight: bolder;
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    width: auto;
}
.pos-total {
    display: inline-block;
    padding: 0px 10px;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    font-weight: 300;
    font-size: 18px;
}


.select2-container--default .select2-selection--single {
    border-radius: 8px;
    overflow-x: hidden;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    background: var(--main-color);
    width: 35px !important;
    border-radius: 6px 0 0 6px;
    height: calc(100% - 1px) !important;
}
.select2-results__option {
    padding: 6px 12px;
    user-select: none;
    -webkit-user-select: none;
    font-weight: 500;
    border-radius: 5px;
}
.select2-selection.select2-selection--single {
    transition: border-radius 0.3s;
}
[aria-expanded="true"].select2-selection.select2-selection--single {
    border-radius: 6px 6px 0 0 !important;
}
.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-radius: 0 0 10px 10px;
    padding: 5px;
    border: 1px solid #d2d6de !important;
    margin-top: 8px !important;
}
.select2-results__option {
    padding: 6px 12px;
    user-select: none;
    -webkit-user-select: none;
    font-weight: 500;
    border-radius: 5px;
    transition: 0.3s;
}
[aria-expanded="true"] .select2-selection__arrow {
    border-radius: 6px 0 0 0 !important;
    transition: 0.3s all;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #367fa9;
    color: #fff;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: var(--bs-white) transparent transparent transparent !important;
    border-style: solid;
    border-width: 8px 6px 0px 6px;
    height: 0;
    left: 50%;
    margin-left: -5.5px;
    margin-top: -2px;
    position: absolute;
    top: 40%;
    width: 0;
    transition: 0.3s;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent var(--bs-white) transparent !important;
    border-width: 0 6px 8px 6px;
}
.select2-search--dropdown {
    display: block;
    padding: 4px;
    border-radius: 10px !important;
    padding: 0;
    padding-bottom: 5px;
}
.select2-selection.select2-selection--single {
    border-radius: 7px !important;
}
.select2-search__field {
    border-radius: 7px;
}









.btn {
    transition: 0.5s background !important;
}
.d-grid .btn{
    display: inline-block;
}
[type="button"] {
    transition: 0.5s !important;
}
.controlbtn{
    font-size: 15px
}
.btn-lgm {
    padding: 8px 16px !important;
    font-size: 15px !important;
    line-height: 1.3333333 !important;
    border-radius: 6px !important;
}
.btn-msm {
    font-size: 13px;
}



.card {
    border: none !important;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    padding: 20px;
    width: auto;
    background-color: #fff;
}

.col-md-12.no-print.pos-header .row {
    background-color: var(--system-box);
    padding: 8px 30px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: var(--box-shadow);
    margin-bottom: 30px;
    width: 100%;
}

.mb-30 {
    margin-bottom: 30px !important;
}
.mb-70 {
    margin-bottom: 70px !important;
}
.mb-100 {
    margin-bottom: 100px !important;
}

.scrolltop.no-print{
    display: none;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 30px !important;
    left: 25px !important;
}
.scroll {
    position: absolute;
    bottom: 60px !important;
    background: var(--system-box) !important;
    text-align: center;
    padding: 0 !important;
    margin: 0 0 0 0;
    cursor: pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    border-radius: 6px;
    width: 40px;
    height: 40px;
    line-height: 45px;
    box-shadow: var(--box-shadow);
    border: 1px solid #aaaaaa61;
}
.scroll.icon i{
    line-height: 46px !important;
    color: var(--main-color);
}



.btn.cusTheme {
    /* padding: 6px 15px; */
    /* font-size: 10px; */
    /* text-align: center; */
}


.curr_datetime {
    padding: 0 20px;
}

.form-select {
    display: block;
    width: 100%;
    padding: .375rem 3rem .375rem .75rem !important;
    font-size: 14px !important;
}
.form-select.form-select-lg {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
    padding-left: 1rem !important;
    font-size: 1.25rem;
    padding-right: 40px !important;
}



.link.cusTheme.backLink {
    color: var(--main-color);
    font-weight: 600;
    font-size: 16px;
    margin-top: -5px;
    position: relative;
    transition: 0.3s;
}
.link.cusTheme.backLink:hover{
    color: var(--main-color1);
}
.link.cusTheme.backLink i {
    font-size: 18px;
    display: inline-block;
    position: relative;
    top: 3px;
}


.btn.cusTheme-dark{
    background-color: var(--main-color);
    color: var(--bs-body-bg);
}
.btn.cusTheme-dark:hover {
    background-color: #1480bf;
    color: var(--bs-body-bg);
}
.btn.cusTheme-dark.sm{
    padding-left: 8px;
    padding-right: 8px;
}
.btn.cusTheme-dark.outline{
    background-color: var(--bs-body-bg);
    color: var(--main-color);
    border: 1px solid var(--main-color);
    transition: 0.4s color;
}
.btn.cusTheme-dark.outline:hover{
    background-color: var(--main-color);
    color: var(--bs-body-bg);
}
.btn.cusTheme-dark.no-border{
    border: none;
}
.btn.cusTheme-dark.outline.icon{
    padding: 9px 10px;
    background-color: var(--bs-body-bg);
    color: var(--main-color);
    border: 1px solid var(--main-color);
}
.btn.cusTheme-dark.outline.icon:hover{
    background-color: var(--main-color);
    color: var(--bs-body-bg);
}

.btn.cusTheme-light{
    background-color: var(--main-color1);
    color: var(--bs-body-bg);
}





.bg.cusTheme1{
    background-color: var(--main-color1);
}
.border.cusTheme1{
    border: 1px solid var(--main-color1);
}






*.fw-100{
    font-weight: 100 !important;
}
*.fw-200{
    font-weight: 200 !important;
}
*.fw-300{
    font-weight: 300 !important;
}
*.fw-400{
    font-weight: 400 !important;
}
.fw-500{
    font-weight: 500 !important;
}
.fw-600{
    font-weight: 600 !important;
}
.fw-700{
    font-weight: 700 !important;
}
.fw-800{
    font-weight: 800 !important;
}
.fw-900{
    font-weight: 900 !important;
}


.fs-5{
    font-size: 5rem !important;
}
.fs-45{
    font-size: 4.5rem !important;
}
.fs-4{
    font-size: 4rem !important;
}
.fs-35{
    font-size: 3.5rem !important;
}
.fs-3{
    font-size: 3rem !important;
}
.fs-25{
    font-size: 2.5rem !important;
}
.fs-2{
    font-size: 2rem !important;
}
.fs-18{
    font-size: 1.8rem !important;
}
.fs-16{
    font-size: 1.6rem !important;
}
.fs-15{
    font-size: 1.5rem !important;
}
.fs-1{
    font-size: 1rem !important;
}
.fsz-35{
    font-size: 3.5rem !important;
}
.fsz-5{
    font-size: 5rem !important;
}
.fsz-6{
    font-size: 6rem !important;
}



.text-cusTheme{
    color: var(--main-color) !important;
}
.text-cusTheme1{
    color: var(--main-color1) !important;
}




.modal-content {
    border-radius: 10px !important;
}
.input-group-addon {
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
    color: var(--bs-body-bg) !important;
    border-radius: 0 6px 6px 0 !important;
}
.input-group {
    border-radius: 6px !important;
}
.input-group select {
    border-radius: 6px 0 0 6px !important;
    padding: 0 10px !important;
}

.modal-header {
    display: flex !important;
    justify-content: flex-start !important;
    width: 100% !important;
}
.modal-title {
    text-align: center;
    width: 100%;
    font-weight: 400;
}
.modal-header .close {
    margin-top: -2px;
    color: var(--bs-danger) !important;
    opacity: 0.6;
    font-size: 30px;
    margin-left: 20px;
    font-weight: 400;
}


.table-condensed > thead > tr > th {
    padding: 10px 10px !important;
}

.table > :not(:last-child) > :last-child > * {
    border-bottom-color: var(--main-color1) !important;
}



.cusBoxAnlys {
    background-color: var(--system-box-bg);
    border-radius: 6px;
}
.boxTitle p {
    width: 100%;
    text-align: center;
}


.cusBoxAnlys.selectin .select2.select2-container.select2-container--default, .cusBoxAnlys.selectin .form-control.mousetrap.custom-search-input{
    padding-right: 10px !important;
    border-radius: 0.4rem !important;
    width: 100% !important;
}
.cusBoxAnlys.selectin .icon_Boxer {
    height: 72px !important;
}
.cusBoxAnlys.selectin .icon_Boxer i{
    line-height: 72px !important;
}
.cusBoxAnlys.selectin .boxTitle button.btn{
    margin-top: 4px !important;
    margin-right: 10px !important;
    width: calc(100% - 12px) !important;
}
.cusBoxAnlys.selectin .boxTitle button.btn.width50{
    width: calc(50% - 12px) !important;
}
#search_product{    
    width: calc(100% - 10px) !important;
    margin-right: 10px;
}

.textContenter{
    width: 100%;
}
.icon_Boxer {
    width: 86px;
    height: 67px;
    padding: 0;
    text-align: center;
    background: var(--main-color1);
    border-radius: 10px;
}
.icon_Boxer i{
    line-height: 67px;
}

hr.cusTheme {
    width: calc(100% - 35px) !important;
    margin-right: 10px !important;
    margin-top: 5px !important;
    border-color: var(--main-color1) !important;
    opacity: 1;
}





[optionsToBoxes]{
    display: none;
}


















.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 0.37rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
select.form-control{
    padding-right: 10px !important;
}

.input-group-addon + input, .input-group-addon + select{
    border-radius: 0.5rem 0 0 0.5rem !important;
}
.input-group-addon + select + .select2[dir=rtl] .select2-selection{
    border-radius: 0.5rem 0 0 0.5rem !important;
}
.form-control.mousetrap.select2-hidden-accessible + .select2.select2-container.select2-container--default .select2-selection--single{
    border-radius: 0.5rem 0 0 0.5rem !important;
}








.pos_total_box {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    font-size: 16.5px !important;
}

.input_total_box {
    width: 120px !important;
    padding: 2px 10px !important;
    height: 20px !important;
    font-size: 13px !important;
}


























.product_box {
    background-color: var(--system-box-bg) !important;
    border-radius: 5px!important;
    padding: 10px 10px !important;
    box-shadow: 0px 4px 4px 0px rgba(237, 237, 237, 0.2509803922);
    border: 1px solid #F8F8F8 !important;
    height: 105px;
    cursor: pointer;
    transition: background 0.15s, border 0.15s;
    text-align: center !important;
    margin-bottom: 15px !important;
}


.quntity.input-group.input-number * {
    height: 28px;
    margin-bottom: 5px;
}
.quntity.input-group.input-number input{
    border-radius: 0 !important;
}

.btn.btn-default.btn-flat.quantity-up {
    background: #11c5ab;
    border: none;
}
.btn.btn-default.btn-flat.quantity-down {
    background: #ff2d53;
    border: none;
}
.btn.btn-default.btn-flat.quantity-up i, .btn.btn-default.btn-flat.quantity-down i{
    color: var(--bs-body-bg) !important;
}


.product_titleo {
    margin-bottom: 10px;
}
.product_titleo span{
    color: var(--main-color1) !important;
}



.table-condensed > tbody > tr > td{
    padding: 10px 12px !important;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #f9f9f9 !important;
    --bs-table-accent-bg: #f9f9f9 !important;
    opacity: 1 !important;
}

.form-group #weighing_scale_btn, .form-group .btn.cusTheme-dark.icon.outline.btn-flat.custom-pos-add-product-btn {
    border-radius: 0.4rem !important;
}
.form-group .btn.btn-flat.add_new_customer.cusTheme-dark.icon.outline {
    border-radius: 0.4rem !important;
    margin-right: 2px;
}





#openBtnParentNav, #closeBtnParentNav {
    font-size: 24px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: var(--main-color);
}






html[dir="ltr"] .ltrRotate180{
    transform: rotate(180deg) !important;
}
html[dir="ltr"] .ltr-flexreverse-row{
    flex-direction: row-reverse !important;
}
html[dir="ltr"] hr.cusTheme {
    margin-left: 10px !important;
    margin-right: 0 !important;
}
html[dir="ltr"] .scroll {
    right: 70px;
}
html[dir="ltr"] select.form-control {
    padding-right: 6px !important;
    padding-left: 6px !important;
}

html[dir="ltr"] .cusBoxAnlys.selectin .select2.select2-container.select2-container--default{
    padding-left: 10px !important;
    padding-right: 0 !important;
}
html[dir="ltr"] .cusBoxAnlys.selectin .boxTitle button.btn {
    margin-left: 10px !important;
    margin-right: 0 !important;
}
html[dir="ltr"] #search_product {
    margin-left: 10px;
    margin-right: 0 !important;
}
html[dir="ltr"] .select2-container--default .select2-selection--single .select2-selection__arrow {
    border-radius: 0px 6px 6px 0px !important;
}
html[dir="ltr"] .select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 0px !important; 
}
html[dir="ltr"] .form-control.mousetrap.select2-hidden-accessible + .select2.select2-container.select2-container--default .select2-selection--single {
    border-radius: 0.5rem !important;
}
html[dir="ltr"] .longcarsole .carsole-box + .carsole-box {
    margin-right: 0 !important;
    margin-left: 12px !important;
}